body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



:global(.glyphicon.glyphicon-trash) {
    position: relative;
    cursor: pointer;
    top:-63px;
    
}

:global(.list-group-item){
  margin:20px 0
}


:global(.short-url){
  cursor: pointer;
}


